<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> 首页 </a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/point']"><i class="icon-pie-chart"></i> 点管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/program/edit']"><i class="icon-pie-chart"></i> 程序管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/program/upload']"><i class="icon-pie-chart"></i> 程序上传</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/port']"><i class="icon-pie-chart"></i> 端口管理</a>
      </li>
      <li class="nav-item hidden">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i> 全局变量</a>
      </li>
    </ul>
  </nav>
</div>
